/*==Google font==*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
/*==Présentation générale centré==*/
body {
  display: block;
    background: rgb(152, 174, 213);
    height: 100%;
  color :black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: auto;
}
header {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-color: #a9a9a9;*/
}
nav {
  width: 95%;
  justify-content: start;
  display: flex;
  flex-direction: row;
}
/*==Les titres==*/
h1 {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
section {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-color: #dadada;*/
}
table {
  border: 3px inset #ffe26a;
  border-radius: 3px;
}
td {
  background-color:  rgb(247, 228, 255);
  border: 1px inset black;
  text-align: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
li {
  list-style: none;
}
/* Boite pour faire un bouton Randomise */
.redAlerte {
  color: red;
  font-size: 2em;
  background-color: black;
}
.boxe  {
  width: 42px;
  height: 42px;
  background-color: #edc2ff;
  text-align: center;
  line-height: 42px;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 50%;
  border: 1px solid black;
}
/*Fin bouton*/
.listeConteneur {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.listeVerticale {
  align-items: baseline;
  text-align: left;
}
.listNavigation {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.lienNav {
  color : black;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.lienNav:hover {
  color: #F71AC2;
}
.lienNav:focus {
  color: #C611EE;
  text-decoration: underline;
  font-style: italic;
  font-weight: 200;
}
.deconnexion {
  height: 100px;
}
/*==Conteneur standard==*/
.conteneurFlex {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.conteneurFlexC {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.affichageImage {
  width: 40%;
}
.page {
  align-content: center;
  text-align: center;
  width: 45%;
  min-height: 80vh;
  margin-right: 0.02em;
  margin-left: 0.02em;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.pageCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.size30 {
  width: 30%;
}
/*==Input==*/
.sizeInpute {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}
/*==Button==*/
button {
  background: none;
  border: 2px solid;
  border-radius: 0.2em;
  background-color:
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
}
.edit {
  background-color: #98ff6b;
}
.edit:hover {
  background-color: #6fff31 ;
}
.del {
   background-color: #ff6b6b;
}
.del:hover {
  background-color: #ff2424;
}
.recCreateur {
  background-color: #4d63fd;
}
.recCreateur:hover {
  color: white;
  background-color: #0020ff;
}
.rec {
  background-color: #4d63fd;
}
.rec:hover {
  color: white;
  background-color: #0020ff;
}
.creme {
  background-color: #fff4ce;
}
.sorbet {
  background-color: pink;
}
.sup {
  background-color: white;
}
.yog {
  background-color:  #bdfffe;
}

.search {
  background-color: #b491ff;
}
.search:hover {
  color: white;
  background-color: #9b6cff;
}
/*==Les id==*/
#total {
  padding-top: 1em;
  font-weight: bold;
}

/*==Responsivité==*/
@media only screen and (max-width: 980px) {
  body {
    font-size: 1.5em;
  }
  .conteneurFlex {
    flex-direction: column;
  }
  .listNavigation {
    flex-direction: column;
  }
  .page {
    width: 98%;
    max-height: auto;
    border-top:5px solid red;
  }
}
@media only screen and (max-width: 680px) {
  body {
    font-size: 0.9em;
  }
  .listNavigation {
    flex-direction: column;
  }
  .conteneurFlex {
    flex-direction: column;
  }
  .page {
    width: 98%;
    max-height: auto;
    border-top: 5px solid red;
  }
}
